body {
    background: url(../bg-img/bg4.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar-nav {
    margin-left: 20px;
}


body {
    font-family: 'Varela', sans-serif;
}

.main-title {
    font-size: 45px;
    font-family: 'Bangers', cursive;
}

a > .main-title {
    text-decoration: none;
}

.icon {
    margin-left: 10px;
}

footer {
    color: white;
}

.picture {
    padding-left: 100px;
    width: 400px;
}


@media screen and (max-width: 1000px)  {


/* middle text */
    .text-wrapper {
        height: 380px;
    
    }

    h1 {
        font-size: 60px;
        color: white;
        margin-left: 900px;
        padding-top: 300px;
    }

    p {
        font-size: 20px;
        padding-bottom: 20px;
        color: white;
        margin-left: 55px;
    }

    .btn-link {
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 20px;
        width: 100px;
        padding: 1em 1.5em;
        margin-left: 360px;
        color: white;   
    }

    .btn-link:hover {
        text-decoration: none;
        color: white;
        background-color: white;
        cursor: pointer;
    }

    .btn-link:active {
        color: white;
    }

    footer {
        color: white;
        margin-top: 220px;
    }


    .mt-5, .my-5 {
        margin-top: 9.5rem 
    }

}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 30px;
        margin-left: 55px;
        padding-top: 200px;
        color: white;
    }
    
    p {
        font-size: 10px;
        margin-left: 56px;
        color: white;
        
    
    }
    
    .btn-link {
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 20px;
        width: 100px;
        margin-left: 65px; 
        padding: 1em 1.5em;
        color: white;  
    }
    
    .btn-link:hover {
        text-decoration: none;
        color: white;
        background-color: white;
        cursor: pointer;
    }
    
    .btn-link:active {
        color: white;
    }

    footer {
        color: white;
        margin-top: 360px;
    }
}


@media screen and (min-width: 760px) {
    h1 {
        font-size: 30px;
        margin-left: 250px;
        padding-top: 350px;
        color: white;
    }
    
    p {
        font-size: 20px;
        margin-left: 120px;
        color: white;
        
    
    }
    
    .btn-link {
        text-decoration: none;
        text-transform: uppercase;
        border-radius: 20px;
        width: 100px;
        margin-left: 265px; 
        padding: 1em 1.5em;
        color: white;  
    }
    
    .btn-link:hover {
        text-decoration: none;
        color: white;
        background-color: white;
        cursor: pointer;
    }
    
    .btn-link:active {
        color: white;
    }

    footer {
        color: white;
        margin-top: 210px;
    }
} 
