body {
    background: url(../bg-img/bg3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

h1 {
    color: white;
    margin-bottom: 30px; 
}

.navbar-nav {
    margin-left: 20px;
}


body {
    font-family: 'Varela', sans-serif;
}

.main-title {
    font-size: 45px;
    font-family: 'Bangers', cursive;
}

a > .main-title {
    text-decoration: none;
}

.icon {
    margin-left: 10px;
}

footer {
    color: white;
}

.picture {
    padding-left: 100px;
    width: 400px;
}










.signin {
    
    background: rgba(44,62,80,0.7);
    padding: 40px;
    width: 550px;
    margin: auto;
    margin-top: 80px;
    height: 420px;
    /* margin-left: 530px; */
    border-radius: 5px;
    align-content: center;
    
}

.password-form {
    border-radius: 5px;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
    color: #008fff;
    cursor: pointer;
}

.fields {
    display: flex;
    width: 450px; 
    height: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
    
}

.btn {
    border-radius: 10px;
    width: 450px;
}

.reset-link {
    color: white;
    margin-right: 15px;
}

.mt-5, .my-5 {
    margin-top: 14rem !important;
}

/* message */

